.quest{
    font-size : 44px;
    color : rgb(218, 172, 55);
    letter-spacing: 10px;
}

.lastChance{
    font-size : 44px;
    color : red;
    letter-spacing: 10px;
}

.picture{
    margin-top: -80px;
}